

.change-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .info-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .password-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .change-password-input-container {
    width: 100%;
    margin: 20px 0;
}

.change-password-input-container 
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

 .change-password-input-container 
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid purple;
    outline: none;
}

.change-password-input-container 
  input:focus {
    border-color: #800080; /* Adjusts the color on focus if necessary */
}
  
  .update-button {
    padding: 10px 20px;
    background-color: #6A0DAD;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-button:hover {
    background-color: #5a0c99;
  }
  

  
  @media screen and (max-width: 600px) {
    .change-password-container {
      padding: 15px;
    }
  
    .header h2 {
      font-size: 18px;
    }
  
    .info-text {
      font-size: 12px;
    }
  
    .input-group input {
      padding: 8px;
    }
  
    .update-button {
      font-size: 14px;
    }
  }
  