.userPages {
    padding: 20px;
    background-color: #fff;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
 
  
  .roundButton {
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #555;
    cursor: pointer;
  }
  
  .matchCount {
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    margin-left: 15px;
  }
  
  .matchCountNumber {
    color: #ff6b81;
  }
  
  .matchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }