.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.contactImgContainer {
    position: relative;
    display: inline-block;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.heartIcon {
    font-size: 24px;
    margin-bottom: 0.5rem;
    color: rgb(248, 241, 241);
}

.likeCount {
    font-size: 14px;
}

.contactImgContainer:hover .recentMatchImg {
    opacity: 0.5;
}

.contactImgContainer:hover .overlayContainer {
    opacity: 1;
}

.recentMatchImg {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.recentMatches {
    align-items: center;
    background-color: #4b2354;
    color: white;
    padding: 1rem;
    font-size: 15px;
    position: fixed;
    height: 230px;
    top: 9rem;
    width: 100%;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
}

.recentMatches h2 {
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 18px;
    padding: 1rem 0;
}

.recentMatchesList {
    display: flex;
    overflow-x: auto;
    margin-left: 2rem;
    scrollbar-width: none;
}

.recentMatchItem {
    margin-right: 1rem;
}

.contactList {
    flex-grow: 1;
    width: 100%;
    position: relative;
    overflow-y: auto;
    top: 21rem;
    background-color: var(--primary-color);
    border-radius: 50px;
    z-index: 999;
    
    margin: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.contactItem {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);

}



.contactImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: opacity 0.3s;
}

.contactInfo {
    flex: 1;
}

.contactName {
    font-weight: bold;
}

.contactMessage {
    color: #888;
}

.contactRightSide 
{
    margin-left: 1rem;
    cursor: pointer;
    font-size: 1.25rem;
}

.contactTime {
    color: #888;
    margin-right: 8px;
    
}

.contactDot {
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    background-color: #ff4081;
    border-radius: 5px;
}
