.headerContainer {
    display: flex;
    align-items: center;
    background-color: #4a1354;
    color: white;
    padding: 1rem;
    position: fixed;
    height: 170px;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
}

.headerContainer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto 3rem;
    margin-bottom: 5rem;
}

.headerContainer .container .menu-icon {
    cursor: pointer;
    background-color: rgb(250, 156, 244);
    padding: 0.7rem 0.8rem;
    border: 1px solid white;
    border-radius: 50%;
}

.headerContainer .container .menu-icon .icon {
    font-size: 1.4rem;
}

.headerContainer .container .menu-icon .humburge-icon {
    margin-left: auto;
}

.headerContainer .container .header-name {
    display: flex;
}

.headerContainer .container .header-name .icon {
    font-size: 1.2rem;
    margin-right: 15rem;
}

.headerContainer .container .header-name h2 {
    margin: 0;
    text-align: center;
}
























 

