.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form label {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal form input[type="radio"] {
  margin-right: 10px;
}

.modal form input[type="text"], .modal form select {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnNext {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.expertiseHeading {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}