:root {
    --primary-color: #fbf9fd;
    --background-color: #f5f5f5;
    --text-color: #000;
    --white-color: #fff;
    --gray-color: gray;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.app {
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    top: 11rem;
    z-index: 1;
}

@media (min-width: 768px) {
    .app {
        flex-direction: row;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    top: 0;
    width: 100%;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.header .search-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header {
        position: static;
        width: 250px;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem 1rem;
    }
}

.contact-list {
    margin-top: 5rem;
    overflow-y: auto;
    flex-grow: 1;
    padding: 1rem;
    background-color: var(--background-color);
    z-index: 1000;
}

@media (min-width: 768px) {
    .contact-list {
        margin-left: 0;
    }
}

.contact-list .contact-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.contact-list .contact-item .contact-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.contact-list .contact-item .contact-info {
    flex-grow: 1;
}

.contact-list .contact-item .contact-info .contact-name {
    margin: 0;
    font-weight: bold;
}

.contact-list .contact-item .contact-info .contact-date {
    margin: 0;
    color: var(--gray-color);
}

.contact-list .contact-item .contact-actions i {
    margin-left: 1rem;
    cursor: pointer;
    color: rgba(165, 163, 163, 0.92);
    font-size: 1.25rem;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.bottom-nav .nav-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }
}
