.bottomNavbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
    margin-bottom: 10px;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.navIcon {
    font-size: 1.75rem;
    color: #a1899f;
}

.navItem:nth-child(1) .navIcon {
    color: #e02991;
}

.rainbowIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(red, yellow, green, cyan, blue, magenta, red);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .bottomNavbar {
        width: 85%;
    }
    .navIcon {
        font-size: 1.5rem; 
    }
    .rainbowIcon {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .bottomNavbar {
        width: 90%;
    }
    .navIcon {
        font-size: 1.4rem; 
    }
    .rainbowIcon {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 575.98px) {
    .bottomNavbar {
        width: 95%;
        padding: 10px 0;
    }
    .navItem {
        width: 25%;
    }
    .navIcon {
        font-size: 1.2rem;
    }
    .rainbowIcon {
        width: 40px;
        height: 40px;
    }
}
