 body,
 html {
     font-family: 'Montserrat', sans-serif;
     margin: 0;
 }

 .chatview-container {
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
 }

 .back-arrow {
     position: absolute;
     top: 48px;
     left: 55px;
     font-size: 24px;
     color: rgb(236, 230, 230);
     cursor: pointer;
 }

 .chatview-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .profile-info {
     position: absolute;
     top: 10px;
     left: 10px;
     display: flex;
     align-items: center;
 }

 .storyProfile-image {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 3px solid #ff4081;
     overflow: hidden;
     margin-right: 10px;
 }

 .storyProfile-image img {
     width: 100%;
     height: 100%;
 }

 .online-dot {
     background-color: limegreen;
     width: 14px;
     height: 14px;
     border-radius: 50%;
     display: inline-block;
     position: absolute;
     top: 0px;
     left: 40px;
 }

 .profile-name-status {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     /* margin-top: -50px; */
     justify-content: flex-start;
     /* margin-left: 70px; */
 }

 .profile-name {
     color: white;
     font-size: 18px;
     font-weight: bold;
 }

 .profile-status {
     color: limegreen;
     font-size: 14px;
 }


 .volume-slider {
     position: absolute;
     top: 65%;
     left: 10px;
     transform: translateY(-50%);
     width: 40px;
     height: 250px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     z-index: 1;
 }

 .volume-slider input[type="range"] {
     -webkit-appearance: none;
     appearance: none;
     height: 8px;
     background: linear-gradient(to right, rgb(117, 255, 117) 0%, rgb(248, 248, 248) 100%);
     border-radius: 5px;
     outline: none;
     padding: 0;
     margin: 0;
     transform: rotate(-90deg);
     transform-origin: 50% 50%;
 }

 .volume-slider input[type="range"]::-webkit-slider-runnable-track {
     width: 100%;
     height: 8px;
     background: transparent;
     border-radius: 5px;
 }

 .volume-slider input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 20px;
     height: 20px;
     background: #ffffff;
     border-radius: 50%;
     cursor: pointer;
     margin-top: -6px;
 }

 .sound-icon {
     color: white;
     font-size: 24px;
     margin-bottom: 130px;
 }

 .volume-slider-bg {
     position: absolute;
     top: 50%;
     left: 10px;
     transform: translateY(-50%);
     width: 40px;
     height: 210px;
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     border-radius: 10px;
     z-index: 0;
 }

 .hashtag {
     position: absolute;
     bottom: 50px;
     left: 130px;
     color: white;
     font-size: 60px;
     font-weight: 700;
     letter-spacing: 1px;
 }

 .action-buttons {
     position: absolute;
     bottom: 20px;
     right: 250px;
     display: flex;
     gap: 20px;
     align-items: center;
     width: calc(100% - 40px);
     max-width: 500px;
 }

 .new-button {
     background-color: #5d1451;
     width: 400px;
     height: 50px;
     border-radius: 10px;
     border: 1px solid white;
     font-size: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     position: relative;
     flex-grow: 1;
 }

 .action-button-message {
     position: absolute;
     right: 10px;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 24px;
 }

 .action-button-close {
     width: 60px;
     height: 60px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 24px;
     background-color: #FF007F;
 }

 @media (max-width: 480px) {
     .back-arrow {
         left: 35px;
         font-size: 15px;
     }

     .storyProfile-image {
         margin-top: 0px;
         margin-left: 0px;
         width: 45px;
         height: 45px;
     }
     .online-dot{
        margin-top: 85px;
     }

     .profile-name-status {
         margin-top: -50px;
         margin-left: 60px;
     }


     .profile-name,
     .profile-status {
         font-size: 15px;
     }

     .hashtag {
         font-size: 30px;
         left: 110px;
         bottom: 100px;
     }

     .action-buttons {
         flex-direction: row;
         width: calc(100% - 40px);
         max-width: 400px;
         left: 50%;
         transform: translateX(-50%);
         bottom: 30px;
         gap: 10px;
         justify-content: space-between;
     }

     .new-button {
         flex: 1;
         height: 40px;
         font-size: 14px;
     }

     .action-button-close {
         width: 40px;
         height: 40px;
         font-size: 14px;
     }

     .volume-slider {
         width: 20px;
         height: 200px;
         left: 20px;
         border-radius: 50%;
     }

     .volume-slider input[type="range"] {
         height: 5px;
         transform: rotate(-90deg);

     }

     .volume-slider input[type="range"]::-webkit-slider-thumb {
         width: 14px;
         height: 14px;
         transform: translateY(20%);
     }

     .sound-icon {
         font-size: 18px;
         margin-bottom: 105px;
     }

     .volume-slider-bg {
         width: 40px;
         height: 170px;

     }
 }

 @media (min-width: 481px) and (max-width: 768px) {
     .back-arrow {
         left: 65px;
         font-size: 20px;
     }

     .profile-name-status {
         margin-top: -50px;
         margin-left: 70px;
     }

     .storyProfile-image {
         margin-top: 0px;
         margin-left: 0px;
         width: 48px;
         height: 48px;
     }

     .profile-name,
     .profile-status {
         font-size: 17px;
     }

     .hashtag {
         font-size: 40px;
         left: 90px;
         bottom: 70px;
     }

     .action-buttons {
         flex-direction: row;
         width: calc(100% - 40px);
         max-width: 450px;
         left: 50%;
         transform: translateX(-50%);
         bottom: 20px;
         gap: 15px;
         justify-content: space-between;
     }

     .new-button {
         flex: 1;
         height: 45px;
         font-size: 16px;
     }

     .action-button-close {
         width: 50px;
         height: 50px;
         font-size: 20px;
     }

     .volume-slider {
         width: 25px;
         height: 200px;
         left: 15px;
     }

     .volume-slider input[type="range"] {
         height: 6px;
     }

     .volume-slider input[type="range"]::-webkit-slider-thumb {
         width: 15px;
         height: 15px;
         transform: translateY(16%);
     }

     .sound-icon {
         font-size: 22px;
         margin-bottom: 100px;
     }

     .volume-slider-bg {
         width: 35px;
         height: 190px;
     }
 }

 @media (min-width: 769px) and (max-width: 1200px) {
     .back-arrow {
         left: 30px;
         font-size: 22px;
     }

     .storyProfile-image {
         margin-top: 0;
         margin-left: 0;
         width: 50px;
         height: 50px;
     }

     .profile-name,
     .profile-status {
         font-size: 18px;
     }

     .hashtag {
         font-size: 48px;
         left: 185px;
         bottom: 60px;
     }

     .action-buttons {
         flex-direction: row;
         width: calc(100% - 40px);
         max-width: 480px;
         left: 50%;
         transform: translateX(-50%);
         bottom: 10px;
         gap: 20px;
         justify-content: space-between;
     }

     .new-button {
         flex: 1;
         height: 42px;
         font-size: 17px;
     }

     .action-button-close {
         width: 55px;
         height: 55px;
         font-size: 22px;
     }

     .volume-slider {
         width: 30px;
         height: 200px;
         left: 15px;
     }

     .volume-slider input[type="range"] {
         height: 7px;
     }

     .volume-slider input[type="range"]::-webkit-slider-thumb {
         width: 15px;
         height: 15px;
         transform: translateY(13%);

     }

     .sound-icon {
         font-size: 22px;
         margin-bottom: 100px;
     }

     .volume-slider-bg {
         width: 38px;
         height: 180px;
     }
 }