.modalHeaderCustom {
    border: none;
  }
  
  .modalTitleCustom {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  
  .modalBodyCustom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .upgradeButtonCustom {
    background-color: rgb(43, 5, 60);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .upgradeButtonCustom:hover {
    background-color: rgb(43, 5, 60);
    color: white;
  }
  