.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
  }
  
  .modal {
    background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  }
  
  .modal h2 {
    margin: 0 0 10px;
  font-size: 24px;
  text-align: center;
  }
  
  .radioContainer {
    margin-bottom: 20px;
  }
  
  .radioLabel {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .radioLabel input {
    margin-right: 10px;
  }
  
  .nextButton {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }